{% extends 'home/index.html' %}
{% load static %}
{% block titulo %}Producto{% endblock %}
{% block head %}
<style>
</style>
{% endblock %}
{% block contenido %}
<main role="main" class="inner cover" style="margin-top: 1rem; margin-left: 1rem;">
    <div class="card bg-light text-info" style="padding-left: 2rem; padding-right: 2rem; margin-bottom: 2rem;">
        <img src="{% static producto.patronS %}" class="card-img-top" alt="..." style="margin-top: 2rem; margin-bottom: 2rem;">
        <div class="card-body">
          <h2 class="card-title">{{producto.nombre}}</h2>
          <h5 class="card-title">{{producto.descripcion}}</h5>
          <p>Precio talle S: $ {{producto.precioSmall|floatformat}}</p>
          <p>Precio talle L: $ {{producto.precioLarge|floatformat}}</p>
          <form method="POST">
              {% csrf_token %}
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radios" id="exampleRadios1" value="S" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      Talle pequeño (S)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radios" id="exampleRadios2" value="L">
                    <label class="form-check-label" for="exampleRadios2">
                      Talle largo (L)
                    </label>
                  </div>
              </div>
              <input type="hidden" name="titulo" value="{{producto.nombre}}">
            <button type="submit" class="btn btn-success" style="display: inline;">Comprar</button>
          </form>
          
        </div>
      </div>
    
</main>
{% endblock %}